.idea/
node_modules/
dist/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
.happypack
webpack/dlls/*.json
.scratch
package-lock.json
.DS_Store
src/components/.DS_Store
src/containers/.DS_Store
src/redux/modules/.DS_Store
npm-debug.*
.DS_Store
.happypack/
.*.swp
